/****** Tag selectors ******/
/* */
html{
    background-color: #635666;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 65px;
    text-align: center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    padding: 5px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    padding: 5px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0px;
}

hr {border-style: none;
    border-top-style: dotted;
    border-color: #6a80a3;
    background-color: #AEDBCE;
    border-width: 5px;
    width: 5%;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

/****** Class selectors ******/
/* */

/*General items*/
/**/
.emphasised{
    text-decoration: underline;
    font-style: italic;
}

.underlined{
    text-decoration: underline;
}

.underlined-dotted{
    border-bottom: 1px dotted black;
}

.body-text{
    margin-top: 32px;
    margin-bottom: 40px;
    text-align: center;
}

.body-text-left{
    margin-top: 32px;
    margin-bottom: 40px;
    text-align: left;
}

li span {
    display:block;
    margin-left:-50%;
}

.tool-tip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tool-tip .tool-tip-text{
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    padding: 5px 0;
    
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
}

.tool-tip:hover .tool-tip-text{
    visibility: visible;
}

/*top-container items*/
/**/
.top-container{
    background-color: #D3EBCD;
    position: relative;
    padding: 0;
    margin: 0;
}

.top-container-image{
    width: 60%;
    height: 60%;  
}

.top-container-title{
    position: relative;
    padding-bottom: 0%;
}

.top-container-text{
    font-size: 18px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.top-link{
    font-size: 12px;
}

/*mid-container items*/
/**/
.mid-container{
    background-color: #AEDBCE;
    padding: 10px;
    margin: 0;
}

.mid-container-title{
    padding-bottom: 0px;
    margin-bottom: 15px;
}

.mid-container-table{
    margin-bottom: 20px;
    width: 85%;
}

.notes-table{
    margin-bottom: 20px;
    width: min(850px, 85%);
}

#education-table{
    position: relative;
    padding-right: 7%;
}

#shell-table{
    width: min(500px,45%);
    position: relative;
    padding-left: 3%;
}

#conference-table{
    margin-top: 32px;
    margin-bottom: 40px;
    text-align: center;}

.code-logo-body{
    width: 130px;
    height: 130px;
    position: relative;
    padding: 10px 10px 15px 10px;
}

.cfd-imgage-body{
    width: 600px;
    height: 230px;
    padding-bottom: 25px;
}
/*bot-container items*/
/**/
.bot-container{
    background-color: #839AA8;
    padding: 10px;
    margin: 0;
}

.contact-me{
    margin-bottom: 10px;
    margin-top: 10px;
}