/*****************************************/
/* Tag Selectors */
/*****************************************/

html{
    background-color: #635666;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 65px;
    text-align: center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    padding: 5px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    padding: 5px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0px;
}

hr {border-style: none;
    border-top-style: dotted;
    border-color: #6a80a3;
    background-color: #AEDBCE;
    border-width: 5px;
    width: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}


/*****************************************/
/* General Class Selectors */
/*****************************************/

.underlined{
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

.underlined-dotted{
    border-bottom: 2px dotted black;
    padding-bottom: 2px;
}

.italic{
    font-style: italic;
}

.emphasised{
    text-decoration: underline;
    font-style: italic;
}

/*****************************************/
/* Top Container Class Selectors */
/*****************************************/

.top-container{
    background-color: #D3EBCD;
    position: relative;
    padding: 0;
    margin: 0;
}

.top-container-image{
    object-fit: cover;
    border-radius: 50%;
    width: min(30cqw, 250px);
    height: min(30cqw, 250px);
}

.top-container-title{
    font-size: min(54px, 10cqw);
    position: relative;
    padding-bottom: 0%;
}

.top-container-letters{
    font-size: min(14px, 4cqw);
}

.top-container-text{
    font-size: min(18px, 4cqw);
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.top-container-links{
    font-size: min(14px, 5qw);
}

/*****************************************/
/* Mid Container Class Selectors */
/*****************************************/

.mid-container{
    background-color: #AEDBCE;
    padding: 10px;
    margin: 0;
}

.mid-container-title{
    font-size: min(40px, 8cqw);
}

.mid-container-text-role{
    font-size: min(18px, 4cqw);
    text-align: justify;
    width: min(700px, 80cqw);
}

.mid-container-text{
    font-size: min(16px, 4cqw);
    text-align: justify;
    width: min(700px, 80cqw);
}

.conference-logo{
    width: 300px;
    height: 120px;
}

.phd-work-image{
    width: 300px;
    height: 175x;
}

.professional-additional-image{
    width: min(500px, 80cqw);
    height: min(350x, 65cqw);
}

#module-table{
    text-align: left;
}

.code-logo-image{
    width: 130px;
    height: 130px;
    position: relative;
    padding: 10px 12px 15px 12px;
}

/*****************************************/
/* Bot Container Class Selectors */
/*****************************************/

.bot-container{
    background-color: #839AA8;
    padding: 25px;
    margin: 0;
}

.bot-container-title{
    font-size: min(34px, 7cqw);
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bot-container-text{
    width: min(800px, 80cqw);
    text-align: justify;
    font-size: min(16px, 4cqw);
}
