/*****************************************/
/* Tag Selectors */
/*****************************************/

html{
    background-color: #635666;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 65px;
    text-align: center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    padding: 5px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    padding: 5px;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0px;
}

hr {border-style: none;
    border-top-style: dotted;
    border-color: #6a80a3;
    background-color: #AEDBCE;
    border-width: 5px;
    width: 5%;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

/*****************************************/
/* General Class Selectors */
/*****************************************/

.underlined{
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

.underlined-dotted{
    border-bottom: 2px dotted black;
    padding-bottom: 2px;
}

.italic{
    font-style: italic;
}

.emphasised{
    text-decoration: underline;
    font-style: italic;
}

.body-text{
    margin-top: 32px;
    margin-bottom: 40px;
    text-align: left;
    padding-left: min(25%, 10cqw);
    padding-right: min(25%, 10cqw);
}

ul{
    margin:1em;
}

li span {
    display:block;
    margin-left:-50%;
}

.tool-tip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tool-tip .tool-tip-text{
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    padding: 5px 0;
    
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
}

.tool-tip:hover .tool-tip-text{
    visibility: visible;
}

/*****************************************/
/* Top Container Class Selectors */
/*****************************************/

.top-container{
    background-color: #D3EBCD;
    position: relative;
    padding: 0;
    margin: 0;
}

.top-container-image{
    object-fit: cover;
    border-radius: 50%;
    width: min(30cqw, 250px);
    height: min(30cqw, 250px);
}

.top-container-title{
    font-size: min(54px, 10cqw);
    position: relative;
    padding-bottom: 0%;
}

.top-container-letters{
    font-size: min(14px, 4cqw);
}

.top-container-text{
    font-size: min(18px, 4cqw);
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.top-container-links{
    font-size: min(14px, 4cqw);
}

/*****************************************/
/* Mid Container Class Selectors */
/*****************************************/

.mid-container{
    background-color: #AEDBCE;
    padding: 10px;
    margin: 0;
}

.mid-container-title{
    font-size: min(34px, 7cqw);
    padding-bottom: 0px;
    font-style: italic;
    margin-bottom: 15px;
}

.mid-container-text{
    width: min(600px, 80cqw);
    text-align: justify;
    font-size: min(16px, 4cqw);
    padding-bottom: 20px;
}

.code-logo-body{
    width: 130px;
    height: 130px;
    position: relative;
    padding: 10px 12px 15px 12px;
}


.work-horizontal-body{
    width: 297px;
    height: 167px;
}

.work-vertical-body{
    width: 210px;
    height: 297px;
}

#conference-table{
    width: min(800px,60%);
}

.conference-body{
    width: 265px;
    height: 100px;
}

/*****************************************/
/* Bot Container Class Selectors */
/*****************************************/

.bot-container{
    background-color: #839AA8;
    padding: 25px;
    margin: 0;
}

.contact-me{
    margin-bottom: 10px;
    margin-top: 10px;
}